<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="row">
        <div class="col-md-10 col-lg-offset-1">
            <span><img src="~/Content/logo.png" /></span>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    @Html.ActionLink("Log Time", "LogTime", "Home", new { @class = "navbar-link active" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("My Tasks", "MyTasks", "Home", new { @class = "navbar-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Reports", "Reports", "Home", new { @class = "navbar-link" })
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="container-fluid body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Viajett</p>
                </footer>
            </div>
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/viajett")
    @RenderSection("scripts", required: false)
</body>
</html>
